.topBar {
	background-color: #ebebeb;
	width:650px;
	text-align: center;
	height:75px;
	margin-top: 0;
	margin-bottom:15px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}
.bottomBar {
	clear:both;
	background-color: #ebebeb;
	width:650px;
	height:75px;
	margin:10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}
.centerWhole {
	padding-top: 15px
}
.backGround {
	background-color: #777;
	width:960px;
	height:650px;
	margin:auto;

}
.middleSec {
	text-align: center;
}
.sideBySide {
	display:inline-block;
}
.smallerBox {
	width:370px;
	background-color: #ebebeb;
	height:50px;
	text-align: center;
	margin-left:12px;
	margin-bottom: 5px;
	margin-top: 20px;	
}
.smallerBoxTwo {
	width:370px;
	background-color: #ebebeb;
	height:50px;
	text-align: center;
	margin-left:12px;
	margin-bottom: 5px;
	margin-top: 20px;		
}
.backGroundBox{
	width:395px;
	height:248px;
	background-color: #777;
	margin-left: 15px;
	margin-top: 20px;
	clear: both;
}
.artText {
	color:white;
	margin-top: 35px;
	padding-top:25px;
}

body {
	
	font-size:18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;
	margin: 0;

}
section {
	background-color: #ebebeb;
	width:425px;
	height:350px;
	margin-right:15px;
	float:left;
	text-align: center;
}
aside {
	background-color: #ebebeb;
	width:205px;
	height:350px;
	float:right;
	text-align: center;
}
header p {
	padding-top: 30px;
	margin:0;
}
nav p {
	padding-top: 30px;
	margin:0;
}
section p {
	padding-top: 30px;
	margin:0;
}
article p {
	padding-top: 10px;
	margin:0;
	padding-bottom:30px; 
}
aside p {
	padding-top: 175px;
	margin:0;
}
footer p {
	padding-top: 30px;
	margin:0;
}


