.topBar {
	background-color: #ebebeb;
	width:495px;
	text-align: center;
	height:75px;
	margin:15px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	vertical-align: center;	

}
.backGround {
	background-color: #777;
	width:960px;
	height:900px;
	padding-top: 25px;
	margin:0px auto;

}
.middleSec {
	text-align: center;
}

body {
	
	font-size:18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;

}
section {
	background-color: #ebebeb;
	width:282px;
	height:150px;
	margin-right:15px;
	float:left;
	text-align: center;
}
aside {
	background-color: #ebebeb;
	width:193px;
	height:150px;
	float:right;
	text-align: center;
}
.sideBySide {
	display:inline-block;
}
.smallerBox {
	width:220px;
	background-color: #ebebeb;
	height:25px;
	text-align: center;
	margin-left: 18px;
	border: 5px;
	border-color: #777;
	margin-top: 10px;
	
}
.smallerBoxTwo {
	width:220px;
	background-color: #ebebeb;
	height:25px;
	text-align: center;
	margin-left: 18px;
	border: 5px;
	border-color: #777;
	margin-top: 8px;
	
}
.backGroundBox{
	width:252px;
	height:100px;
	background-color: #777;
	margin-left: 10px;
	margin-top: 20px;

}
.artText {
	color:white;
	margin-top: 35px;
}