.topBar {
	background-color: #ebebeb;
	width:650px;
	text-align: center;
	height:75px;
	margin:15px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}
.bottomBar {
	background-color: #ebebeb;
	width:650px;
	text-align: center;
	height:75px;
	margin:5px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}
.backGround {
	background-color: #777;
	width:960px;
	height:900px;
	margin:0px auto;

}
.middleSec {
	text-align: center;
}
.sideBySide {
	display:inline-block;
}
.smallerBox {
	width:370px;
	background-color: #ebebeb;
	height:50px;
	text-align: center;
	margin-left:12px;	
}
.smallerBoxTwo {
	width:370px;
	background-color: #ebebeb;
	height:50px;
	text-align: center;
	margin-left:12px;		
}
.backGroundBox{
	width:395px;
	height:215px;
	background-color: #777;
	margin-left: 15px;
	margin-top: 20px;
	clear: both;
}
.artText {
	color:white;
	margin-top: 35px;
}

text {
	margin-top: 500px;
}

body {
	
	font-size:18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;

}
section {
	background-color: #ebebeb;
	width:425px;
	height:300px;
	margin-right:15px;
	float:left;
	text-align: center;
}
aside {
	background-color: #ebebeb;
	width:205px;
	height:300px;
	float:right;
	text-align: center;
}

